<Project>
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <PublishProtocol>MSDeploy</PublishProtocol>

        <MSDeployServiceURL>restaurants-app-api-dev-g3cpfkfcgwfrcgc7.scm.polandcentral-01.azurewebsites.net:443</MSDeployServiceURL>
        <DeployIisAppPath>restaurants-app-api-dev</DeployIisAppPath>

        <UserName>$restaurants-app-api-dev</UserName>
        <Password>1ZrfAYxgjGw2QaPxRh0vH5lG5oYms65cBHdX5bq6tJtBGgjmTjpkb455RvJ0</Password>

        <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    </PropertyGroup>
</Project>